<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
        {% block title %}
            Rowing Training Plan
        {% endblock %}
    </title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <nav>
      <a href="{% url 'home' %}">Home</a>
      <a href="{% url 'training_plan_data:home' %}">Training Plan</a>
      <a href="{% url 'admin:index' %}">Admin</a>
    </nav>

    <div class="container">{% block body_block %}{% endblock %}</div>
  </body>
</html>
